body {
    background-image: linear-gradient(#9bdb6d, #415a16);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
        "hd hd"
        "main main"
        "ft ft";
}

header {
    grid-area: hd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:900px) {
    header {
        grid-area: hd;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

header h1 {
    margin: 0px;
}

.card {
    width: 100px;
    text-align: center;
}

.next {
    grid-area: next;
}

.prev {
    grid-area: prev;
}

main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    grid-area: main;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr) 50px;
    grid-template-areas: 
    "card card"
    "card card"
    "card card"
    "card card"
    "next prev";
    gap: 20px;
}

footer {
    grid-area: ft;
    text-align: center;
}

* {
    border: 1px solid red;
}